.header {
    max-width: 864px;
    width: 100%;
    height: 6.125em;
    background-color: none;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.header-main-navigation {
    display: flex;
    width: fit-content; 
}

.header-main-navigation ul {
    display: inline;   
}

.header-main-navigation ul li {
    display: inline;
    float: left;  
}

.header-main-navigation ul li a {
    padding: 0px 28px 0px 28px;
    font-size: 16px;
    color: #242635;
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

.dot-menu, .dot-menu-btn {
    display: none;
}

/* 0-600px Mobile device */
@media only screen and (max-width: 600px) {
    .header {
        width: 100%;
        align-items: center;
        padding: 8%;
        height: 1.1rem;
        z-index: 1000;
    }

    .header-main-navigation {
        display: none; 
    }

    .header-main-logo {
        font-family: "Baloo Bhaijaan 2", sans-serif;
        font-optical-sizing: auto;
        font-weight: 500;
        font-style: normal;
    }

    .dot-menu-btn {
        display: block;
        width: 60px;
        height: 60px;
        background-image: url(../images/dot-menu.png);
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
    }

    .dot-menu {
        display: none;
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #fff;
        z-index: 1000;
    }

    .dot-menu ul {
        width: 100%;
        height: calc(100vh - 60px);
        display: flex;
        flex-wrap: wrap;
        align-content: flex-start;
        padding-top: 60px;
    }

    .dot-menu ul li {
        flex-basis: 100%;
         

    } .dot-menu ul li a {
        display: block;
        height: 100%;
        font-family: "Source Sans 3", sans-serif;
        font-optical-sizing: auto;
        font-weight: 400;
        font-style: normal;
        border-bottom: 1px solid #242635;
        font-size: 2rem;
        padding: 30px 0;
        flex-basis: 100%;
        text-align: center ;
      }


}

@media only screen and (min-width: 601px) and (max-width: 768px) {
    .header {
        width: 100%;
        align-items: center;
        padding: 8%;
        height: 1.1rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 990px) {
    .header {
        width: 100%;
        align-items: center;
        padding: 8%;
        height: 1.1rem;
    }
}
